# api/.env.example, rename it to .env in production
PORT=4000
DATABASE_URL="mysql://db_user_name:db_user_password@127.0.0.1:3306/db_name"
JWT_SECRET="change_me_very_secret"

PUBLIC_BASE_URL = "https://..."